
<style>
#map {
  width: 800px;
  height: 600px;
}
</style>

<div id="map"></div>
<script>
function initMap() {
  // initiate a new map
  var mapDiv = document.getElementById('map');
  var map = new google.maps.Map(mapDiv);

  // An empty bounds variable for seeting automatic zoom level (bounds of map)
  var bounds = new google.maps.LatLngBounds();

  <%  @places.each do |place|   %>

  // Make info window for this place
  var infowindow_<%= place.id %> = new google.maps.InfoWindow({
    content: "<b><%= place.name %></b>"  +
    "<li><%= place.address %> </li>" +
    "<li><%= place.description %></li> "
  });

  // Make marker for this place
  var marker_<%= place.id %> = new google.maps.Marker({
    position: {lat: <%= place.lat %>, lng: <%= place.lng %>},
    map: map,
    title: "<%= place.name %>",
    icon: 'http://maps.google.com/mapfiles/ms/icons/<%= place.color %>-dot.png'
  });

  // Click to show info window
  marker_<%= place.id %>.addListener('click', function() {
    infowindow_<%= place.id %>.open(map, marker_<%= place.id %>);
  });

  // Rightclick to edit place
  marker_<%= place.id %>.addListener('rightclick', function() {
    window.location.href = 'http://localhost:3000/places/<%= place.id %>/edit'

  });

  // Add this marker in map bounds
  bounds.extend(new google.maps.LatLng(<%= place.lat %>, <%= place.lng %>));

  <% end %>

  // Size map to fit bounds
  map.fitBounds(bounds);
};

</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
async defer></script>

<h1>
  <a href="/places" class="btn btn-lg btn-primary">List Places</a>
</h1>
