<div class="page-header">
  <h3>Place #<%= @place.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @place.name %></dd>

      <dt>Address</dt>
      <dd><%= @place.address %></dd>

      <dt>Description</dt>
      <dd><%= @place.description %></dd>

      <dt>Lat</dt>
      <dd><%= @place.lat %></dd>

      <dt>Lng</dt>
      <dd><%= @place.lng %></dd>

      <dt>Color</dt>
      <dd><%= @place.color %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/places" class="btn btn-primary">
        Back
      </a>
      <a href="/places/<%= @place.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_place/<%= @place.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
